h2 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    margin: 1em 0;
}

#main {
    padding: 60px 0;
}

section {
    padding: 20px 0;
}

.bulletin-details {
    list-style: none;
}

.bulletin-check:before {
    content: url('../assets/img/check2.svg');
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.bulletin-x:before {
    content: url('../assets/img/x.svg');
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
