h2 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    margin: 1em 0;
}

#main {
    padding: 60px 0;
}

section {
    padding: 20px 0;
}

.details-image {
    width: 50%;
}

.details-item-flex {
    flex: 0 0 50%; 
}

.bulletin-details {
    list-style: none;
    max-width: 50%;
}

.bulletin-check:before {
    content: url('../assets/img/check2.svg');
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.bulletin-x:before {
    content: url('../assets/img/x.svg');
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.logo {
    width: 100%;
    max-width: 500px;
}

.set-icon {
    width: 80px;
    height: 80px;
}
/* MOBILE */
@media screen and (max-width: 600px) {
    .hero-container {
        padding-top: 95px;
    }

    #social {
        display: none !important;
    }

    .details-image {
        width: 100%;
    }

    .bulletin-details {
        max-width: 100%;
        order: 2;
    }
}

