h2 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    margin: 1em 0;
}

#main {
    padding: 60px 0;
}

section {
    padding: 20px 0;
}

#jumbo .hero-container {
    top: 10%;   
}

#jumbo h2 {
    max-width: 655px;
}

.details-container {
    width: 100%;
}

.details-image {
    width: 50%;
}

.details-item-flex {
    flex: 0 0 50%; 
}

.bulletin-details {
    list-style: none;
    max-width: 50%;
}

.bulletin-check:before {
    content: url('../assets/img/check2.svg');
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.bulletin-x:before {
    content: url('../assets/img/x.svg');
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.logo {
    width: 100%;
    max-width: 500px;
}

.icon-container {
    border: 2px solid;
    border-radius: 10px;
    min-width: 160px;
    flex: 0 0 15%;
    margin: 10px 10px;
}

.icon-container span {
    flex: 0 0 100%;
    text-align: center;   
}

.set-icon {
    width: 100px;
    height: 100px;
}

.border-arcane { border-color: blue; color: blue; }
.border-cataclysmic { border-color: red; color: red; }
.border-divine { border-color: grey; color: grey; }
.border-nature { border-color: green; color: green; }
.border-martial { border-color: brown; color: brown; }
.border-mundane { border-color: sangria-red; color: sangria-red; }
.border-potions { border-color: orange; color: orange; }
.border-skullduggery { border-color: black; color: black; }
.border-kickstarter { border-color: green; color: green; }

/* MOBILE */
@media screen and (max-width: 600px) {
    #social {
        display: none !important;
    }

    .details-image {
        width: 100%;
    }

    .bulletin-details {
        max-width: 100%;
        order: 2;
    }
}

